<div class="main-wrapper">
  <div class="custom-select-wrapper">
    <app-custom-select [type]="'filter'"></app-custom-select>
    <app-custom-select [type]="'sort'"></app-custom-select>
  </div>
  <div class="btn-wrapper">
    <div>
      <button class="clear-btn" (click)="clear()">
        <i class="far fa-times-circle"></i>
        Clear
      </button>
    </div>
    <div>
      <button class="sort-btn" (click)="changeSortType()">
        <i [class]="isDescending() ? 'fas fa-sort-amount-down-alt' : 'fas fa-sort-amount-up-alt'"></i>
      </button>
    </div>
  </div>
</div>
