.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #cecece;
  .custom-select-wrapper {
    display: flex;
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
    >div {
      height: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-of-type {
        width: 4vw;
        border-left: 1px solid #cecece;
      }
    }
    button {
      border: none;
      cursor: pointer;
      outline: none;
      font-size: 1.3vw;
      background: rgb(255, 255, 255);
      &:active {
        opacity: 0.65;
        transition: .1s;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
    .clear-btn {
      .far {
        font-size: 1.3vw;
      }
    }
    .sort-btn {
      .fas {
        font-size: 1.5vw;
      }
    }
  }
}
