<div class="main-wrapper">
  <div class="search-box">
    <app-search-bar></app-search-bar>
  </div>
  <div>
    <app-filter-bar></app-filter-bar>
    <div class="media-items-wrapper">
      <app-media-item *ngFor="let item of displayingItems" [item]="item"></app-media-item>
    </div>
  </div>
</div>
