.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 40vw;
  position: relative;
  label {
    width: 100%;
    box-sizing: border-box;
    input {
      padding: 1vw 4.5vw 1vw 1vw;
      border: none;
      width: 100%;
      box-sizing: border-box;
      font-size: 1vw;
    }
  }
  >div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 4vw;
    position: absolute;
    right: 0;
    background-color: #cecece;
    .fas {
      color: #a9a9a9;
    }
  }
}
