<div class="search-bar-wrapper">
  <label>
    <input type="text"
           placeholder="Search by Title, Keyword or File Type..."
           [(ngModel)]="searchValue"
           (ngModelChange)="onInputChange()">
  </label>
  <div>
    <i class="fas fa-search"></i>
  </div>
</div>
