<div class="select-wrapper" (click)="showOptions()">
  <div class="select-caption">
    <span>{{dataService.selectCaption[type]}}</span>
    <div>
      <span>{{caption}}</span>
      <i class="fas fa-angle-down" [ngStyle]="areOptionsVisible ? {'transform': 'rotate(90deg)'} : null"></i>
    </div>
  </div>
  <div class="options-wrapper" *ngIf="areOptionsVisible">
    <div *ngFor="let option of options" (click)="applyFilter(option)">
      <span [style.opacity]="isOptionSelected(option) ? '0.6' : '1'">
        {{option.title}}
      </span>
      <i class="fas fa-check" *ngIf="isOptionSelected(option)"></i>
    </div>
  </div>
</div>
<div class="backdrop" (click)="onClose()" *ngIf="areOptionsVisible"></div>
