.select-wrapper {
  display: flex;
  align-items: center;
  width: 15vw;
  padding: 0 1.5vw;
  height: 4vw;
  position: relative;
  border-right: 1px solid #cecece;
  cursor: pointer;
  z-index: 2;
  .select-caption {
    width: 100%;
    >span {
      font-size: 1vw;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      span {
        font-size: 1.5vw;
        color: #dc3545;
      }
      .fas {
        color: #dc3545;
        font-size: 1.3vw;
      }
    }
  }
  .options-wrapper {
    position: absolute;
    top: 4vw;
    left: -1px;
    border: 1px solid #cecece;
    border-left: none;
    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5vw;
      height: 4vw;
      border-bottom: 1px solid #cecece;
      border-left: 1px solid #cecece;
      background-color: #fff;
      width: 15vw;
      &:last-of-type {
        border-bottom: none;
      }
      .fas {
        color: #28a745;
      }
    }
  }
}
.backdrop {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
